* {
    margin:0;  
    padding:0;  
    box-sizing: border-box; /* medidas sao tomadas da borda */
    font-family: Garamond, serif;
}

header {
    background-color: #800080; /* Roxo */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

main {
    margin-top: 120px; /* Espaço para o header e o nav fixos */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body{
    text-align: center;
    background-color: rgb(218, 213, 213);
}




footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    color: black;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
